<div class="countdownHeader">
  <div class="title_m" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200"> <strong>Son Gün 30 Mayıs</strong> </div>
  <div class="title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200">Özel Erken Rezervasyon Fırsatını Kaçırmayın! <strong>Son Gün 30 Mayıs</strong> </div>
  <ul class="countdown">
    <li data-aos="flip-up" data-aos-duration="1000" data-aos-delay="400"> <span class="days"></span>
      <p class="timeRefDays"></p>
    </li>
    <li data-aos="flip-up" data-aos-duration="1000" data-aos-delay="600"> <span class="hours"></span>
      <p class="timeRefHours"></p>
    </li>
    <li data-aos="flip-up" data-aos-duration="1000" data-aos-delay="800"> <span class="minutes"></span>
      <p class="timeRefMinutes"></p>
    </li>
    <li data-aos="flip-up" data-aos-duration="1000" data-aos-delay="1000"> <span class="seconds"></span>
      <p class="timeRefSeconds"></p>
    </li>
  </ul>
  <div class="title" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1100" >Kaldı</div>
  <div class="close"> <img src="assets/images/icons/close2.svg"> </div>
</div>


<header class="header">
    <div class="container">
        <div class="logo"><a href="./"><img src="assets/images/logo.png?v1" alt="Logo"></a></div>
        <nav class="topMenu">
            <ul>
                <li><a href="hakkimizda.html">HAKKIMIZDA</a></li>
                <li><a href="odalarimiz.html">ODALARIMIZ</a></li>
                <li><a href="galeri.html">GALERİ</a></li>
                <li><a href="iletisim.html">İLETİŞİM</a></li>
            </ul>
        </nav>
        <div class="headerRight">
            <a href="tel:05334787054" target="_blank" class="headerResBtn"> <i><img src="assets/images/icons/tel.svg" alt=""></i> <span>0533 478 70 54</span>  </a>
        
            <div class="topMenuBtn"> 
              <span></span> 
              <span></span> 
              <span></span> 
            </div>
        </div>
    </div>
</header>
