<footer class="footer">
   <div class="footerTop">
     <div class="container">
        <div class="footerLeft">
          <div class="logo"><img class="lazy" data-src="assets/images/logo.png" alt="Hazal Hotel Karasu"></div>
          <div class="footerAddress">
              <ul>
                <li><a><i><img class="lazy" data-src="assets/images/icons/loc.svg" alt="" aria-hidden="true"></i> Aziziye, Doğu Karadeniz Cd. No:170, 54500
Karasu / Sakarya </a> </li>
                <li><a href="tel:05334787054"><i><img class="lazy" data-src="assets/images/icons/tel.svg" alt="" aria-hidden="true"></i>  0533 478 70 54 </a> </li>
                <li><a href="mailto:hazalotel2021@gmail.com"><i><img class="lazy" data-src="assets/images/icons/mail.svg" alt="" aria-hidden="true"></i> hazalotel2021@gmail.com </a> </li>
              </ul>
          </div>
        </div>
        <div class="footerRight">
            <div class="footerTopMenu">
              <div class="footerTitle">Menü</div>
              <ul>
                <li><a href="hakkimizda.html">Hakkımızda</a></li>
                <li><a href="odalarimiz.html">Odalarımız</a></li>
                <li><a href="deniz-manzarali-oda.html">Deniz Manzaralı Oda</a></li>
                <li><a href="galeri.html">Galeri</a></li>
                <li><a href="aktiviteler.html">Aktiviteler</a></li>
                <li><a href="https://hazalhotel.istbooking.com/">Rezervasyon</a></li>
                <li><a href="iletisim.html">İletişim</a></li>
              </ul>
            </div>
            <div class="footerFollow">
              <div class="footerTitle">Bizi Takip Edin</div>
              <p>Haberler, etkinlikler ve ayrıcalıklı tekliflerimiz için bizi takip edin.</p>
              <div class="footerSocial">  
                <ul>
                  <li><a href="https://www.instagram.com/hazalhotelkarasu/" target="_blank" rel="noopener noreferrer"><img class="lazy" data-src="assets/images/social/instagram.svg" alt="Instagram"></a></li>
                </ul>
              </div>
            </div>
        </div>
     </div>
   </div>
   <div class="footerBottom">
     <div class="container">
      <div class="footerLeft"> <div class="copyright">Copyright © 2022 Hazal Hotel. Tüm Hakları Saklıdır.</div> </div>
      <div class="footerRight">
        <div class="footerBottomMenu">
          <ul>
            <li><a href="kvkk.html">Kişisel Verilerilerin Korunması</a></li>
            <li><a href="cerez-politikasi.html">Çerez Politikası</a></li>
            <li><a href="gizlilik-sozlesmesi.html">Gizlilik Politikası</a></li>
            <li><a href="aydinlatma-metni.html">Aydınlatma Metni</a></li>
          </ul>
        </div>
      </div>
     </div>
   </div>
</footer>


<a class="pulse wpChange mobilTelBtn" href="tel:05334787054" target="_blank" aria-label="Telefon ile ara">
<i class="fa fa-whatsapp"><img src="assets/images/icons/pulseTel.svg" alt="" aria-hidden="true" /></i>
</a>

<a class="pulse wpChange mobilWpBtn" href="https://wa.me/905334787054" target="_blank" rel="noopener noreferrer" aria-label="WhatsApp ile yazın">
<i><img src="assets/images/icons/whatsapp.svg" alt="" aria-hidden="true" /></i>
</a>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script defer src="assets/js/reservation.js?v2"></script>
<script defer src="assets/owl/owl.carousel.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
<script defer src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script defer src="assets/js/main.js?v2"></script>
{{EXTRA_SCRIPTS}}
</body>
</html>
